/* Estilos básicos */

body {
    font-family: Arial, sans-serif;
    background-color: #eb6d6d;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    color: #ffffff;
    text-align: center;
}